Language:                         Cpp
Standard:                         c++20
BasedOnStyle:                     Chromium
ColumnLimit:                      0
BreakBeforeBraces:                Attach
IndentWidth:                      4
TabWidth:                         4
UseTab:                           Always
PointerAlignment:                 Left
IndentGotoLabels:                 false
KeepEmptyLinesAtTheStartOfBlocks: true
