build
CMake*
cmake*
*.cmake
CPack*
_CPack_Packages*
Makefile
install_manifest.txt
*libexodus.so*
pgexodus.so
*.swp
neosys.net
work
service/data/menu.htm
*.~
.gdb_history*
Testing/
tests/
a.out
DartConfiguration.tcl
*.gcov
*.cpp.save
/ryu/
eevalt.cpp
x
y
z
x.sh
p1.cpp
p2.cpp
p3.cpp
p4.cpp
p5.cpp
p6.cpp
