g[0-9]*.cpp
g[0-9][0-0]*.cpp

p[0-9].cpp
p[0-9][0-9].cpp

l[0-9].cpp
l[0-9][0-9].cpp

t[0-9].cpp
t[0-9][0-9].cpp

build
cmake*
*.cmake
CPack*
_CPack_Packages*
Makefile
install_manifest.txt
*libexodus.so*
pgexodus.so
*.swp
neosys.net
work
service/data/menu.htm
*.~
.gdb_history*
Testing/
tests/
a.out
DartConfiguration.tcl
*.gcov
*.cpp.save
/ryu/
eevalt.cpp
x
y
z
x.sh
last.upgrade.txt
p[0-9].cpp
l[0-9].cpp
t[0-9].cpp
