Source: libexodus-perl
Section: devel
Priority: optional
Maintainer: Steve Bush <steve.bush@neosys.com>
Build-Depends: debhelper (>= 7.0.50~), libexodus, perl, swig
Standards-Version: 3.9.1
Homepage: http://devwiki.neosys.com
#Vcs-Git: git://git.debian.org/collab-maint/exodus.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/exodus.git;a=summary

Package: libexodus-perl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libexodus, perl
Suggests: exodus-cli, libpgexodus
Description: Exodus Multivalue Database Programming in Perl
