/*must be first*/    
TABLE.NEOSYSTABLE
{
    display: none;
    margin: 0px;
    border-collapse: collapse; /*inconsistent color setting bug in ie7xp if you dont set it to something and display is initially inline*/
    background-color: #ffffc0;
    xxxcellpadding: 1;
    border-right: thin;
    border-left: thin;
    border-bottom: thin;
    border-top: thin;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

BODY, BUTTON, INPUT, SELECT, TEXTAREA, SPAN, DIV, TD, TH, P, BR, A, SMALL, BIG
{
    /*all rules with font-family will have their font-size controlled*/
    font-family: verdana,arial,helvetica;
    font-size: 8pt;
}

@media print
{
    TABLE.NEOSYSTABLE
    {
        display: block;
    }
}

BODY
{
    background: #ffffff;
    color: #000000;
}

.neosysbutton
{
    background-color: #F0F0F0;
}

BUTTON
{
    cursor: hand;
    background-color: #F0F0F0;
}

BUTTON, INPUT, SELECT, TEXTAREA, SPAN
{
    margin: 0px;
}

TH
{
    font-weight: normal;
    text-align: left;
    vertical-align: baseline;
}
A:link
{
    color: #003399;
    text-decoration: none;
}
A:visited
{
    color: #6699cc;
    text-decoration: none;
}
A:hover
{
    text-decoration: underline;
}


P
{
    margin-top: 0.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

PRE
{
    padding-right: 5pt;
    margin-top: 1em;
    padding-left: 5pt;
    background: #eeeeee;
    margin-bottom: 1em;
    padding-bottom: 5pt;
    margin-left: 0px;
    padding-top: 5pt;
}

H1
{
    margin: 0px 0px 5px;
    font-weight: normal;
    font-size: 165%;
}
H2
{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 125%;
}


H3
{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 115%;
}
H4
{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 100%;
}
H5
{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 67%;
}
H6
{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 50%;
}

.clsNotRequired
{
    background-color: #FFFFFF;
    border: solid 1px #E0E0E0;
    margin: 0px;
    padding: 0px;
}

.clsRequired
{
    background-color: #f4f4f4; /*	background-color: #FFFFFF;*/
    border: solid 1px #333333;
    margin: 0px;
    padding: 0px;
}

.clsReadOnly
{
    background-color: #fffff0;
    border: none; /*	border: solid 1px #E0E0E0;*/
    border: solid 1px #FFFFFF;
    margin: 0px;
    padding: 0px;
}

SPAN.clsNotRequired
{
    background-color: #FFFFFF;
    border: solid 1px #E0E0E0;
    margin: 1px;
    padding: 1px;
    height: 100%;
}

SPAN.clsRequired
{
    background-color: #f4f4f4; /*	background-color: #FFFFFF;*/
    border: solid 1px #333333;
    margin: 1px;
    padding: 1px;
    height: 100%;
}

SPAN.clsReadOnly
{
    background-color: #fffff0;
    border: none; /*	border: solid 1px #E0E0E0;*/
    margin: 1px;
    padding: 1px;
    height: 150%;
}

.menu
{
    position: absolute;
    background-color: #F0F0F0;
    color: black;
    border: 2 outset menu;
    xz-index: 999;
}

.menuitem
{
    color: black;
    padding: 5px;
    xz-index: 999; /*should be double the font-size programmatically*/
    line-height: 16pt;
    cursor: hand;
}

.menuitem:link
{
    color: black;
}
.menuitem:visited
{
    color: black;
    padding: 5px;
}


.menuitem:hover
{
    padding: 5px;
    cursor: hand;
}

.graphicbutton
{
 text-align:center;
 font-size:80%;
 background-color:#F0F0F0;
 xfloat:left;
 margin:3px;
 border:2;
 border-style:outset;
 margin:2;
 padding:2;
 cursor:hand;
 vertical-align:middle;
}

/*must be last*/

.demotext
{
    display: none;
}
