Package: exodusmvdb
Version: 11.5
Section: Database
Priority: optional
Architecture: all
Depends: libc6 (>= 2.5-0ubuntu1)
Installed-Size: 16032
Maintainer: Steve Bush <steve.bush@neosys.com>
Description: Exodus Multivalue Database
