Source: libpgexodus
Section: devel
Priority: optional
Maintainer: Steve Bush <steve.bush@neosys.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, postgresql-server-dev-8.4
Standards-Version: 3.9.1
Homepage: http://devwiki.neosys.com
#Vcs-Git: git://git.debian.org/collab-maint/exodus.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/exodus.git;a=summary

Package: libpgexodus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql
Description: Exodus Multivalue Database Plugin to PostgreSQL
