/*must be first*/
TABLE.neosystable
{
	display: none;
	margin: 1px; /*inconsistent color setting bug in ie7xp if you dont set it to something and display is initially inline*/
	border-collapse: collapse;
	background-color: #ffffc0; /*cellpadding: 1;*/
	border-width: thin;
	border-style: solid; /* works in ie     border-right: thin;     border-left: thin;     border-bottom: thin;     border-top: thin;     */
	padding: 1px;
	text-align: left;
}

TABLE.neosystable2
{
	margin: 0px; /*inconsistent color setting bug in ie7xp if you dont set it to something and display is initially inline*/
	border-collapse: collapse;
	border-width: thin;
	border-style: solid; /* works in ie     border-right: thin;     border-left: thin;     border-bottom: thin;     border-top: thin;     */
	border-color: #d0d0d0;
	padding: 1px;
	text-align: left;
}

BODY, BUTTON, INPUT, SELECT, TEXTAREA, SPAN, DIV, TD, TH, P, BR, A, SMALL, BIG
{
	/*all rules with font-family will have their font-size controlled*/
	font-family: verdana,arial,helvetica;
	font-size: 8pt;
}

@media print
{
	TABLE.neosystable
	{
		display: block;
	}
}

BODY
{
	background: #ffffff;
	color: #000000;
}

.neosysbutton
{
	background-color: #F0F0F0;
	padding: 0px 0px 0px 0px;
	font-size: 90%;
}

BUTTON
{
	cursor: pointer;
	background-color: #F0F0F0;
}

BUTTON, INPUT, SELECT, TEXTAREA, SPAN
{
	margin: 0px;
}

TH
{
	font-weight: normal;
	text-align: left;
	vertical-align: baseline;
}
A:link
{
	color: #003399;
	text-decoration: none;
}
A:visited
{
	color: #6699cc;
	text-decoration: none;
}
A:hover
{
	text-decoration: underline;
}


P
{
	margin-top: 0.5em;
	margin-bottom: 1em;
	line-height: 1.5em;
}

PRE
{
	padding-right: 5pt;
	margin-top: 1em;
	padding-left: 5pt;
	background: #eeeeee;
	margin-bottom: 1em;
	padding-bottom: 5pt;
	margin-left: 0px;
	padding-top: 5pt;
}

H1
{
	margin: 0px 0px 5px;
	font-weight: normal;
	font-size: 165%;
}
H2
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 125%;
}


H3
{
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 115%;
}
H4
{
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 100%;
}
H5
{
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 67%;
}
H6
{
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 50%;
}

.clsNotRequired
{
	background-color: #f8f8f8; /*	background-color: #FFFFFF;*/
	border: solid 1px #E0E0E0;
	margin: 0px;
	padding: 0px;
}

.clsRequired
{
	background-color: #FFFFFF;
	border: solid 1px #333333;
	margin: 0px;
	padding: 0px;
}

.clsReadOnly
{
	background-color: #fffff0; /*background-color: #f4f400;*/ /*xborder: none;*/ /*	border: solid 1px #E0E0E0;*/
	border: solid 1px #f4f4f4;
	margin: 0px;
	padding: 0px;
}

SPAN.clsNotRequired
{
	background-color: #f8f8f8; /*	background-color: #FFFFFF;*/
	border: solid 1px #E0E0E0;
	margin: 1px;
	padding: 1px;
	height: 100%;
}

SPAN.clsRequired
{
	background-color: #FFFFFF;
	border: solid 1px #333333;
	margin: 1px;
	padding: 1px;
	height: 100%;
}

SPAN.clsReadOnly
{
	/*background-color: #fffff0;*/
	background-color: #f4f4f4;
	border: none; /*	border: solid 1px #E0E0E0;*/
	margin: 1px;
	padding: 1px;
	height: 100%;
}

.menu
{
	font-size: inherit;
	position: absolute;
	background-color: #F0F0F0;
	color: black;
	border-width: 2px;
	border-style: outset;
	border-color: Menu; /*z-index: 999;*/
	padding-left: 3px;
}

.menuitem
{
	border: thin;
	white-space: nowrap;
	color: black;
	padding-left: 0px;
	padding: 5px; /*z-index: 999;*/ /*should be double the font-size programmatically*/
	line-height: 16pt;
	cursor: pointer;
}

.menuitem:link
{
	color: black;
}
.menuitem:visited
{
	color: black;
	padding: 5px;
}


.menuitem:hover
{
	padding: 5px;
	cursor: pointer;
}

.graphicbutton:hover
{
	border-color: #aaaaaa;
}


.graphicbutton
{
	float: left;
	display: inline;
	font-size: inherit;
	background-color: #f0f0f0; /*float:left;*/
	border-color: #cccccc;
	margin: 2px;
	border-width: 2px;
	border-style: outset;
	cursor: pointer;
	padding: 4px 2px 5px 2px;
}

/*must be last*/

.demotext
{
	display: none;
}
