/*must be first in order to customise screen form color*/
TABLE.exodusform
{
    /*display: none; this used to be cleared by something on successful loading */
    margin: 1px; /*inconsistent color setting bug in ie7xp if you dont set it to something and display is initially inline*/
    border-collapse: collapse;
    background-color: #ffffc0; /*cellpadding: 1;*/
    border-color: #d0d0d0;
    border-width: 1px 1px 1px 1px;
    border-style:  solid; /* works in ie     border-right: thin;     border-left: thin;     border-bottom: thin;     border-top: thin;     */
    padding: 1px;
    text-align: left;
}

/*why needed? it stops custom form colors from prior rule on th
.exodusform TH
{
    margin: 1px;
    border-collapse: collapse;
    background-color: #ffffc0;
    border-color: #d0d0d0;
    border-width: 1px 1px 1px 1px;
    border-style:  solid;
    padding: 1px;
    text-align: left;
}
*/

TABLE
{
    border-collapse: collapse;
    border-width: 0px;
}

BODY, BUTTON, INPUT, SELECT, TEXTAREA, SPAN, DIV, TD, TH, P, BR, A, SMALL, BIG
{
    /*all rules with font-family will have their font-size controlled*/
    font-family: verdana,sans-serif,arial,helvetica;
    font-size: 8pt;
    min-height: 13px;
    border: 1px;
}

/*blue blur on focus*/
SPAN:focus:not([type="checkbox"]):not([type="radio"]), SELECT:focus:not([type="checkbox"]):not([type="radio"]), INPUT:focus:not([type="checkbox"]):not([type="radio"])
{
    outline: 0px none;
}
SELECT:focus, TEXTAREA:focus, INPUT:focus, SPAN:focus
{
    /*box-shadow: 0px 0px 5px #4091ED;*/ /*border-color: #4091ED;*/
    box-shadow: 0px 0px 7px #666666;
    border-color: #A9A9F5;
    opacity: 1;
}

@media print
{
    TABLE.exodusform
    {
        display: block;
    }
}

BODY
{
    background: #ffffff;
    color: #000000;
}

.exodusbutton
{
    
    background-color: #F0F0F0;
    padding: 2px 3px;
    font-size: 90%;
    border-color: #cccccc;
    border-width: 2px;
    border-style: outset;
    border-radius: 0.3rem;

    /*float: left;*/
/*    font-size: inherit;
    margin: 2px;
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 4px 2px 5px 2px;

    border-color: #cccccc;
    border-width: 2px;
    border-style: outset;
    border-radius: 0.3rem;
*/
}

BUTTON
{
    cursor: pointer;
    background-color: #F0F0F0;
}

TH
{
    font-weight: normal;
    text-align: left;
    vertical-align: baseline;
}
A:link
{
    color: #003399;
    text-decoration: none;
}
A:visited
{
    color: #6699cc;
    text-decoration: none;
}
A:hover
{
    text-decoration: underline;
}


P
{
    margin-top: 0.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

PRE
{
    padding-right: 5pt;
    margin-top: 1em;
    padding-left: 5pt;
    background: #eeeeee;
    margin-bottom: 1em;
    padding-bottom: 5pt;
    margin-left: 0px;
    padding-top: 5pt;
}

H1
{
    margin: 0px 0px 5px;
    font-weight: normal;
    font-size: 165%;
}
H2
{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 125%;
}


H3
{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 115%;
}
H4
{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 100%;
}
H5
{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 67%;
}
H6
{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 50%;
}

.clsNotRequired
{
    background-color: #ffffff; /*	background-color: #FFFFFF;*/
    border: solid 1px #E0E0E0;
    margin: 0px;
    padding: 0px;
}

.clsRequired
{
    background-color: #FFFFFF;
    border: solid 1px #333333;
    margin: 0px;
    padding: 0px;
}

.clsReadOnly
{
    background-color: #fbfbfb;/*transparent;*/ /*#fdfdfd;*/ /*background-color: #f4f400;*/ /*xborder: none;*/ /*	border: solid 1px #E0E0E0;*/
    border: solid 1px #f4f4f4;
    margin: 0px;
    padding: 0px;
    /*filter: alpha(opacity=80);
    opacity: 0.80;*/
}

.menu:focus 
{
    outline: 0;
}

.menu
{
    font-size: inherit;
    position: absolute;
    background-color: #F0F0F0;
    color: black;
    border-width: 2px;
    border-style: outset;
    border-color: Menu; /*z-index: 999;*/
    padding-left: 3px;
}

.menuitem
{
    border: thin;
    white-space: nowrap;
    color: black;
    padding-left: 0px;
    padding: 5px; /*z-index: 999;*/ /*should be double the font-size programmatically*/
    line-height: 16pt;
    cursor: pointer;
}

.menuitem:link
{
    color: black;
}
.menuitem:visited
{
    color: black;
}


.menuitem:hover
{
    padding: 5px;
    cursor: pointer;
}

.menu_hr
{
    border:1px dotted lightgrey
}

.graphicbutton:hover
{
    border-color: #aaaaaa;
}


.graphicbutton
{
    float: left;
    font-size: inherit;
    background-color: #f0f0f0;
    border-color: #cccccc;
    margin: 2px;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
    padding: 4px 2px 5px 2px;
    border-radius: 0.3rem;
}

/*must be last*/

.demotext
{
    display: none;
}
